@use "../../scss/breakpoint" as *;

.main {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comic {
    margin: 40px;
    max-width: 750px;
    text-align: left;
}
